.cart {
  position: relative;
  display: block;
}
.cart__footer{
    text-align: right;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}
.is-empty .cart__empty-text{
  margin: 0 0 30px 0;
    font-size: calc(var(--font-size-base) * 2.1px);
}
.cart__warnings {
  display: none;
  text-align: center;
}
.cart__login-title {
    font-size: calc(var(--font-size-base) * 1.43px);
    margin-top: 30px;
}
.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}
.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  display: block;
  margin-top: 20px;
}

.cart__note label {
    display: flex;
    align-items: flex-end;
    line-height: 1;
    height: auto;
    margin-bottom: 1rem;
}

.cart__note .field__input {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }
  .cart__footer > * {
    width: 28rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
    width: 100%;
    padding: 12px 10px;
}

/*.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}*/

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: 0 !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
}

.tax-note {
    display: block;
    font-size: rgb(var(--color-foreground));
    margin-top: 15px;
}

/*.cart__checkout-button {
    max-width: 20rem;
}*/
@media screen and (min-width: 768px) {
  .cart__footer{
    display: flex;
  justify-content: space-between;
  }
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }
}
.carthead{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px){
  .cart__footer > * + *{
    margin-top: 15px;
  }
  .is-empty .cart__empty-text {
    margin: 0 0 16px 0;
    font-size: calc(var(--font-size-base) * 1.57px);
  }
}